In [49]:
text = "Hellow world world"
print(text)

Hellow world world

In [16]:
#ISDIGIT-Ar tekstas yra skaiciai(esant tarpams prie skaiciu-ats FLASE)
print(text.isdigit() )
print ('1993'.isdigit() )
print ('1993 '.isdigit() )
print('1993 '.strip().isdigit() )

False
True
False
True

In [20]:
#STRIP-Pasalina tarpus is sonu#
text = "    Hellow world world    "
print(text)
print(text.strip())

    Hellow world world
Hellow world world

In [48]:
# \n  Nauja eilute
text = 'Hello\world\nWorld   '
print(text)

Hello\world
World

In [47]:
text_2 = 'My name is Arturas, I live in Vilnius vilnius'
print(text_2.upper())
print(text_2.lower())
print(text_2.capitalize())
print(text_2.count('Vilnius'))
print(text_2.lower().count('vilnius'))
print(text_2.find('Arturas'))
print(text_2[0:text_2.find('Arturas')])
print(text_2[0:text_2.find('Arturas')+len('Arutras')])

MY NAME IS ARTURAS, I LIVE IN VILNIUS VILNIUS
my name is arturas, i live in vilnius vilnius
My name is arturas, i live in vilnius vilnius
1
2
11
My name is
My name is Arturas

In [4]:
text_2 = 'My name is , I live in Vilnius Arturas vilnius'
print( text_2[0: text_2.find('Arturas') + len('Arturas')])
print( text_2[ text_2.find('Arturas') : ])

My name is , I live in Vilnius Arturas
Arturas vilnius

In [9]:
'Arturas' + 'Titas' #be tarpo(Suklijuoja)
'Arturas' + ' ' + 'Titas' #su tarpu

'Arturas Titas'

### STRING OPERATIONS

In [18]:
'Arturas' - 'a'
##raidziu neatimsi/nepadalinsi. DAUGINT GALIMA

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [16]:
'titas ' * 15

'titas titas titas titas titas titas titas titas titas titas titas titas titas titas titas '

### F-STRING

In [27]:
name = 'Arturas'
surname = 'Titas'
number = 23
print(name+ ' '+surname + ' nice to meet u')
print(f'{name} {surname}, nice to meet you')
print( name+ ' ' + surname +' ' + str(number) + ', nice to meet u!')

Arturas Titas nice to meet u
Arturas Titas, nice to meet you
Arturas Titas 23, nice to meet u!

In [50]:
name = 'Tytusa'
surname = 'titkis'
print(name + '' +surname)

Tytusatitkis

In [64]:
text = 'Hello World, I am happy to learn Python!'
look_word = 'happy'
print(text[18:23])
print(text[text.find('happy'):text.find('happy') + len('happy')])

happy
happy

### INTEGER DEKLARACIJA

In [68]:
number = 51684

float_number = 1436.41
float_number_2 = 1436.

In [69]:
print(type(number) )
print(type(float_number) )
print(type(float_number_2) )

<class 'int'>
<class 'float'>
<class 'float'>

OPERATIONS

In [77]:
suma = number + float_number
print(f'{suma} yra {type(suma)}')
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(13 // 5) #sveika dalis
print(17 // 5)

#liekana
print(16 % 5)
print(17 % 5)
print(17 % 5)
print(18 % 5)
print(19 % 5)
print(20 % 5)

53120.41 yra <class 'float'>
5
50
2.0
2
3
1
2
2
3
4
0

In [81]:
float_1 = 5.9
float_2 = 11.55
print(float_1 + float_2)
print(float_1 - float_2)
print(float_1 * float_2)
print(float_1 / float_2)
print(float_1 % float_2)

17.450000000000003
-5.65
68.14500000000001
0.5108225108225108
5.9

In [92]:
dist_sun = 150_000_000
dist_moon = 384_000

speed_per_hour = 150
print(f'Atstumas iki saules yra {dist_sun / dist_moon} kartu didesnis nei atstumas iki menulio ')

speed_per_hour = 150

day = speed_per_hour * 24
month = day * 30
year = month * 12
print(dist_moon/speed_per_hour)
print(dist_moon/day)
print(dist_moon/month)
print(dist_moon/year)

Atstumas iki saules yra 390.625 kartu didesnis nei atstumas iki menulio
2560.0
106.66666666666667
3.5555555555555554
0.2962962962962963

In [103]:
from datetime import datetime
birthday = datetime(1993, 2, 11)
now = datetime.now()
time_passed = now - birthday
print(time_passed)
print(time_passed.days)

10797 days, 15:09:25.720012
10797

BOOLEAN Deklaracija
true/false

In [109]:
bool_1 = True
bool_2 = False
print( type(bool_1))
print(bool_1)
number = 1
print(bool(number))
#Nulis yra netiesa
#False tampa tik 0, visi kiti TRUE

<class 'bool'>
True
True

In [113]:
print(2>5)
text = 'Hello Titas'
bool_4 = 'Titas' in text
print(bool_4)

False
True

LISTS

In [115]:
cities = [ 'Vilnius', 'Kaunas', 'Klaipeda']

In [118]:
print( cities[0])
print( type( cities[0] ) )
print(cities[-1])
print( cities [:2])
print(type( cities[:2]))

Vilnius
<class 'str'>
Klaipeda
['Vilnius', 'Kaunas']
<class 'list'>

In [124]:
number = [ 1,8546,847,358,'vienas']
print( type( number[0] ))
print( type( number[-1] ))
print( number[1:4] )

<class 'int'>
<class 'str'>
[8546, 847, 358]

In [127]:
print(len(number))
print(len(number[-1]))

5
6

In [129]:
number = [ 1,8546,847,358]
number.append(500)
print(number)

[1, 8546, 847, 358, 500]

In [133]:
number.count(10)
number.insert(2, 1000)

In [146]:
print(number)

[]

In [148]:
number.extend([999, 999])
print(number)
number.append( [88, 888])
print(number)

[999, 999, [88, 888], 999, 999]
[999, 999, [88, 888], 999, 999, [88, 888]]

In [153]:
nested_list = [354, [[[[['777']]], 789]]]
print(nested_list)
print(nested_list[1])
print(nested_list[1][0][0][0][0][0])

[354, [[[[['777']]], 789]]]
[[[[['777']]], 789]]
777

In [155]:
print(number)
print(number.pop())

[999, 999, [88, 888], 999, 999, [88, 888]]
[88, 888]

In [156]:
print(number)

[999, 999, [88, 888], 999, 999]

In [162]:
print(number.reverse())
print(number)

None
[999, 999, [88, 888], 999, 999]

In [169]:
print(number[::-1])

[999, 999, [88, 888], 999, 999]

TypeError: '<' not supported between instances of 'list' and 'int'