List comprehension

In [3]:
number = list(range(1,21))
dividible_by3 = []
for number in numbers:
    if number % 3 == 0:
        dividible_by3.append(number)
        print(dividible_by3)

NameError: name 'numbers' is not defined

In [5]:
dividible_by3 = [ number *2 for number in range(1,21) if number %3 ==0]
print(dividible_by3)

[6, 12, 18, 24, 30, 36]

In [6]:
dividible_by3 = [ number  for number in range(1,21) if number %3 ==0]
print(dividible_by3)

[3, 6, 9, 12, 15, 18]

In [7]:
dividible_by3 = [ number if number %3 ==0 else f'{number} nesidalina is 3 ' for number in range(1,21)]
print(dividible_by3)

['1 nesidalina is 3 ', '2 nesidalina is 3 ', 3, '4 nesidalina is 3 ', '5 nesidalina is 3 ', 6, '7 nesidalina is 3 ', '8 nesidalina is 3 ', 9, '10 nesidalina is 3 ', '11 nesidalina is 3 ', 12, '13 nesidalina is 3 ', '14 nesidalina is 3 ', 15, '16 nesidalina is 3 ', '17 nesidalina is 3 ', 18, '19 nesidalina is 3 ', '20 nesidalina is 3 ']

None aka null , nill

In [ ]:
niekas = None
print(niekas)
print(type(niekas))

In [8]:
list_1 = [5,4,7]
print(list_1.sort())

None

In [10]:
vardas = ''
vardas = input('Koks tavo vardas?')
if vardas == '':
    
if vardas == 'jonas':
    print('Sveikas Jonai!')

In [11]:
vardas = None
pateiktas_vardas = input('koks tavo vardas')
if pateiktas_vardas = '':
    pateiktas_vardas = input('vardas neivestas')
print(f'vardas yra {vardas} ')
if pateiktas_vardas != '':
    vardas = pateiktas_vardas:
    print(f'vardas yra {vardas}')

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3807730848.py, line 3)

DICTIONARY

In [12]:
me = {
    'vardas': 'Arturas',
    'amzius': 29
}
print(me)

{'vardas': 'Arturas', 'amzius': 29}

In [14]:
print(me[ 'vardas' ])

Arturas

In [17]:
me['hobiai'] = ['vanduo', 'automobiliai']
print(me)
me['amzius'] = 29
print(me)

{'vardas': 'Arturas', 'amzius': 29, 'honiai': ['tenisas', 'automobiliai'], 'hobiai': ['vanduo', 'automobiliai']}
{'vardas': 'Arturas', 'amzius': 29, 'honiai': ['tenisas', 'automobiliai'], 'hobiai': ['vanduo', 'automobiliai']}

In [21]:
someone = {
    True: 'tiesa',
    False: 'false',
    5: 'penki'
}
print(someone[True])
print(someone[5])

tiesa
penki

In [22]:
print(me)
print(len(me))

{'vardas': 'Arturas', 'amzius': 29, 'honiai': ['tenisas', 'automobiliai'], 'hobiai': ['vanduo', 'automobiliai']}
4

DICTIONARY IS MUTABLE.BE CAREFULL

In [ ]:
#LOOK AT LESSON 3

In [25]:
print(me)
me['pavarde'] = 'Kairys'
print(me)

{'vardas': 'Arturas', 'amzius': 29, 'honiai': ['tenisas', 'automobiliai'], 'hobiai': ['vanduo', 'automobiliai'], 'pavarde': 'Kairys'}
{'vardas': 'Arturas', 'amzius': 29, 'honiai': ['tenisas', 'automobiliai'], 'hobiai': ['vanduo', 'automobiliai'], 'pavarde': 'Kairys'}

In [27]:
me.pop('vardas')
print(me)

{'honiai': ['tenisas', 'automobiliai'], 'hobiai': ['vanduo', 'automobiliai'], 'pavarde': 'Kairys'}

In [28]:
print(me.popitem())
print(me)

('pavarde', 'Kairys')
{'honiai': ['tenisas', 'automobiliai'], 'hobiai': ['vanduo', 'automobiliai']}

In [30]:

print(me.get('neegzistuojantis'))
print(me.get('neegzistuojantis', 'nerastas'))

None
nerastas

In [31]:
nauji_duomenys = {'amzius': 30, 'hobiai': ['futbolas'], 'masina': 'VW'}

me.update(nauji_duomenys)

In [33]:
for value in me.values():
    print(value)

['tenisas', 'automobiliai']
['futbolas']
30
VW

In [34]:
for key in me.keys():
    print(key)

honiai
hobiai
amzius
masina

In [35]:
for key , value in me.items():
    print(f' key is {key} with a value of {value}')

 key is honiai with a value of ['tenisas', 'automobiliai']
 key is hobiai with a value of ['futbolas']
 key is amzius with a value of 30
 key is masina with a value of VW

In [37]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car['year'] = 2022
print(len(car))
print(car)

3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [43]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": '1964',
  "color": 'red',
  "used" :
  
}
car.uptade({'color':'red', 'used':
True})
print(car)

SyntaxError: expression expected after dictionary key and ':' (1260192673.py, line 6)

SET DEKLARACIJA

In [45]:
#SET
my_set={99,1,2,3,4,1,1,1,1,'a','b' }
print(my_set)

{1, 2, 99, 3, 4, 'a', 'b'}

In [47]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [48]:
5 in my_set

False

In [49]:
len(my_set)

7

In [51]:
my_set.add(4)
print(my_set)
my_set.add(24)
print(my_set)
my_set.update( {300, 400, 22})
print(my_set)

{1, 2, 99, 3, 4, 'a', 'b', 24}
{1, 2, 99, 3, 4, 'a', 'b', 24}
{1, 2, 99, 3, 4, 'b', 300, 400, 22, 'a', 24}

In [52]:
my_set={1, 2, 99, 3, 4, 'a', 'b', 24}
my_set.remove(4)

In [59]:
my_set={1, 2, 99, 3, 4, 'a', 'b', 24}
my_set.discard(4)
print(my_set)

{1, 2, 99, 3, 'b', 'a', 24}

In [62]:
my_set_2 = {2,400,999}
print(my_set)
print(my_set_2)
my_set.union(my_set_2)
print(my_set.union(my_set_2))

{1, 2, 99, 3, 'b', 'a', 24}
{400, 2, 999}
{1, 2, 99, 3, 999, 'b', 400, 'a', 24}

In [63]:
print(my_set.difference(my_set_2))

{1, 3, 99, 'b', 'a', 24}

In [64]:
print(my_set.intersection(my_set_2))

{2}

In [65]:
small_set = {2,4}
big_set = {1,2,3,4,5}
small_set.issubset(big_set)
print(small_set.issubset(big_set))

True

In [69]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('Pear')
print(fruits)

{'apple', 'Pear', 'banana', 'cherry'}

In [72]:
fruits = {'apple', 'banana', 'cherry'}
fruits.dicard('apple')
fruits.add('watermelon')

AttributeError: 'set' object has no attribute 'dicard'