mutable and immutable variables

In [5]:
# immutable kaip vaeikia variable
a = 1
b = a 
print('pries')
print(id(a) )
print(id(b) )
b += 5
print ('po')
print(id(a) )
print(id(b) )
print(a)
print(b)

pries
2432222363888
2432222363888
po
2432222363888
2432222364048
1
6

In [7]:
# iutable kaip vaeikia variable
a = [1,2,3]
b = a 
print('pries')
print(id(a) )
print(id(b) )
b.append(10)
print ('po')
print(id(a) )
print(id(b) )
print(a)
print(b)

pries
2432337684800
2432337684800
po
2432337684800
2432337684800
[1, 2, 3, 10]
[1, 2, 3, 10]

In [8]:
#fixing mutable variable #1
a = [1,2,3]
b = a.copy()
print('pries')
print(id(a) )
print(id(b) )
b.append(10)
print ('po')
print(id(a) )
print(id(b) )
print(a)
print(b)

pries
2432337694592
2432337764096
po
2432337694592
2432337764096
[1, 2, 3]
[1, 2, 3, 10]

In [11]:
#where fix #1 does not work
a = [1,2, ['a', 'b' ]]
b = a.copy()
print('pries')
print(id(a) )
print(id(b) )
b[-1].append('c')
print ('po')
print(id(a) )
print(id(b) )
print(a)
print(b)

pries
2432337336704
2432337337216
po
2432337336704
2432337337216
[1, 2, ['a', 'b', 'c']]
[1, 2, ['a', 'b', 'c']]

In [12]:
#fixing butable variable #2
import copy 
a = [1,2, ['a', 'b' ]]
b = copy.deepcopy(a)
print('pries')
print(id(a) )
print(id(b) )
b[-1].append('c')
print ('po')
print(id(a) )
print(id(b) )
print(a)
print(b)

pries
2432336806656
2432337342720
po
2432336806656
2432337342720
[1, 2, ['a', 'b']]
[1, 2, ['a', 'b', 'c']]

# TUPLE DEKLARACIJA

In [14]:
my_tuple = ( 1,3,5)
print(type(my_tuple))

<class 'tuple'>

In [17]:
print(my_tuple+(10,15))
print(my_tuple)
my_tuple = my_tuple +(10,15)
print(my_tuple)

(1, 3, 5, 10, 15)
(1, 3, 5)
(1, 3, 5, 10, 15)

In [18]:
print(my_tuple[0])
print(my_tuple[2])
print(my_tuple[2:4])

1
5
(5, 10)

In [20]:
print(my_tuple.count(10))
print(my_tuple.count(100))

1
0

In [22]:
my_tuple = (1,3,5,10,15)
print(my_tuple)
print(my_tuple.index(10))
#error
print(my_tuple.index(100))

(1, 3, 5, 10, 15)
3

ValueError: tuple.index(x): x not in tuple

In [23]:
print(my_tuple)
my_tuple[5] = 849

(1, 3, 5, 10, 15)

TypeError: 'tuple' object does not support item assignment

In [26]:
print(len(my_tuple))
print(10 in my_tuple)
print(2 in my_tuple)

5
True
False

In [42]:
my_tuple = (1, 2, ['3',4,5], [6,[7,(8)]])
print (my_tuple)
print (my_tuple[3])
print(len(my_tuple[3]))
print(my_tuple[3][1])
print(my_tuple[3][1][1])
print(my_tuple[-1][-1][-1])

(1, 2, ['3', 4, 5], [6, [7, 8]])
[6, [7, 8]]
2
[7, 8]
8
8

In [48]:
tuple1 = (11,[222, 33], 44, 55)
print(tuple1[1])
tuple1[1][1] = 22
print(tuple1)

[222, 33]
(11, [222, 22], 44, 55)

In [58]:
tuple1 = (66, 34, 76)
tuple2 = (5, 1, 78, 35)
tuple3 = tuple1 + tuple2
print (tuple3)
tmp_list = list(tuple3)
print(tmp_list)
tuple3 = tuple(tmp_list)
print(tuple3)
print(tuple3[::-1])
#tmp_list.sort()
tuple3=tuple(sorted(tuple3))
print(tuple3)
print(tuple3.count(34))
print(tuple3[-1])

(66, 34, 76, 5, 1, 78, 35)
[66, 34, 76, 5, 1, 78, 35]
(66, 34, 76, 5, 1, 78, 35)
(35, 78, 1, 5, 76, 34, 66)
(1, 5, 34, 35, 66, 76, 78)
1
78

RANGE

In [19]:
print(range(10))
print(type(range(10)))
print(list(range(10)))
print(list(range(5,10)))
print(list(range(5,20,3)))
print(list(range(100,-50,-15)))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 8, 11, 14, 17]
[100, 85, 70, 55, 40, 25, 10, -5, -20, -35]

In [71]:
miestai = ['Vilnius', 'Kaunas', 'Klaipeda']
#for<any_name> in list/sequence>:
for miestas in miestai:
    print(miestas)
    #
    print(f'{miestas} yra nuostabus miestas!')
    print('praejo vienas ciklas')
print('pabaiga')

Vilnius
Vilnius yra nuostabus miestas!
praejo vienas ciklas
Kaunas
Kaunas yra nuostabus miestas!
praejo vienas ciklas
Klaipeda
Klaipeda yra nuostabus miestas!
praejo vienas ciklas
pabaiga

In [72]:
for number in range(1,34,3):
    print(number)

1
4
7
10
13
16
19
22
25
28
31

In [79]:
sarasas = [165,489,432]
suma = 0
for skaicius in sarasas:
    suma += skaicius

    print(f'galutine suma: {suma}')

galutine suma: 165
galutine suma: 654
galutine suma: 1086

In [86]:
number = [10]
for number in range(0:10):
    print(number)

SyntaxError: invalid syntax (3516090957.py, line 2)

In [ ]:
ivestas_skaicius = input('Irasykite skaiciu')

In [84]:

skaicius =int(skaiciu_sarasas)
print(skaicius)

NameError: name 'skaiciu_sarasas' is not defined

In [92]:
ivestas_skaicius =input( 'iveskite skaiciu')
print(type(ivestas_skaicius))

<class 'str'>

In [ ]:
5 * 1 
5 * 2 
5 * 3 
.....
5 * 10

In [94]:
saicius = input('iveskite skaiciu')
skaicius = int(skaicius)

for x in range(1,11):
    x = x * skaicius
    print(x)

432
864
1296
1728
2160
2592
3024
3456
3888
4320

In [106]:
dienos = ['Pirmadienis', 'Antradienis','Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 19, 19 ]

kombinacijos = []
for diena in dienos:
    for valanda in valandos:
        print(diena, valanda)
        kombinacijos.append( (diena, valanda))
print(kombinacijos)

Pirmadienis 10
Pirmadienis 11
Pirmadienis 12
Pirmadienis 13
Pirmadienis 14
Pirmadienis 15
Pirmadienis 16
Pirmadienis 17
Pirmadienis 19
Pirmadienis 19
Antradienis 10
Antradienis 11
Antradienis 12
Antradienis 13
Antradienis 14
Antradienis 15
Antradienis 16
Antradienis 17
Antradienis 19
Antradienis 19
Treciadienis 10
Treciadienis 11
Treciadienis 12
Treciadienis 13
Treciadienis 14
Treciadienis 15
Treciadienis 16
Treciadienis 17
Treciadienis 19
Treciadienis 19
Ketvirtadienis 10
Ketvirtadienis 11
Ketvirtadienis 12
Ketvirtadienis 13
Ketvirtadienis 14
Ketvirtadienis 15
Ketvirtadienis 16
Ketvirtadienis 17
Ketvirtadienis 19
Ketvirtadienis 19
Penktadienis 10
Penktadienis 11
Penktadienis 12
Penktadienis 13
Penktadienis 14
Penktadienis 15
Penktadienis 16
Penktadienis 17
Penktadienis 19
Penktadienis 19
Sestadienis 10
Sestadienis 11
Sestadienis 12
Sestadienis 13
Sestadienis 14
Sestadienis 15
Sestadienis 16
Sestadienis 17
Sestadienis 19
Sestadienis 19
Sekmadienis 10
Sekmadienis 11
Sekmadienis 12
Sekmadienis 13
Sekmadienis 14
Sekmadienis 15
Sekmadienis 16
Sekmadienis 17
Sekmadienis 19
Sekmadienis 19
[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 19), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 19), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 19), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 19), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 19), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 19), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 19), ('Sekmadienis', 19)]

IF DEKLARACIJA

In [109]:
age = int(input("iveskite amziu:"))

if age >= 18 :
    print(f'Jums yra {age}, jus esate pilnametis')

print('pabaiga')

Jums yra 19, jus esate pilnametis
pabaiga

In [112]:
age = int(input("iveskite amziu:"))

if age >= 18 :
    print(f'Jums yra {age}, jus esate pilnametis')
else:
    print(f'Jums yra {age}, dar teks paaugti')

print('pabaiga')

Jums yra 18, jus esate pilnametis
pabaiga

In [115]:
age = int(input("iveskite amziu:"))

if age >= 18 :
    print(f'Jums yra {age}, jus esate pilnametis')
elif age > 12:
    print('tau yra tarp 12 ir 18metu')

else:
    print(f'Jums yra {age}, dar teks paaugti')

print('pabaiga')

tau yra tarp 12 ir 18metu
pabaiga

In [121]:
x = int(input("iveskite amziu:"))

if x % 2 == 0:
    print('lyginis')
    x /= 2
else:
    print('nelyginis')
    x *=4
print(x)

nelyginis
12

In [125]:
x = int(input("iveskite amziu:"))
y = int(input("antra skaiciu:"))

if x % 2 == 0:
    print('lyginis')
    x /= 2
    if y >= 10:
        y = x * y
else:
    print('nelyginis')
    x *=4
    if y >= 20:
        y = y / x
        else:
    y += 5
print(x)
print(y)

SyntaxError: invalid syntax (1076099471.py, line 14)